<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>474799746067-3k6p7g4baepstu1tgeqn2jov9ivt8lqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474799746067-3k6p7g4baepstu1tgeqn2jov9ivt8lqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDowNeIKsiYY-AO34Pq5IWpeSlVNzI5eqw</string>
	<key>GCM_SENDER_ID</key>
	<string>474799746067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dharm.chatfirebase</string>
	<key>PROJECT_ID</key>
	<string>chatfirebase-a8d25</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebase-a8d25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474799746067:ios:02259329f709dbe3</string>
	<key>DATABASE_URL</key>
	<string>https://chatfirebase-a8d25.firebaseio.com</string>
</dict>
</plist>